.bg-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  padding: 20px;
  color: #ffffff;
}

.image {
  height: 40vh;
}

.inputElement {
  background-color: transparent;
  border-color: #ffffff;
}
.inner-container {
  display: flex;
  flex-direction: column;
}
.resultButton {
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  color: #219a6f;
  border-radius: 10px;
  border: none;
}

.result-container {
  margin-top: 10px;
}
