.header-container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.logout-button {
  background-color: #0967d2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  width: 70px;
  height: 30px;
}

.options {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #475569;
  list-style-type: none;
}

.image-container {
  flex-grow: 1;
}

.header-image {
  height: 50px;
}
