.result-container {
  display: flex;
  padding: 20px;
  background-color: #ffffff33;
  width: 80%;
  margin: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.result-details {
  color: #ffffff;
  text-align: center;
}

.paly-again {
  background-color: #ffce27;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.score-board {
  color: #6a59ff;
}
